/*
View styles
 */
@import "styles/base/mixins";
@import "styles/base/variables";
@import "~breakpoint-sass/stylesheets/breakpoint";

.download {
  @include flex;
  flex-wrap: wrap;

  &__item {
    width: 20%;

    padding: 0 (16em/16);

    @include breakpoint($mobile) {
      width: 50%;
    }

    .icon_movie {
      width: 100%;
      height: 168px;

      background: url("./icon-movie.svg") no-repeat;
      background-size: contain;
    }
  }
}

.image-gallery,
video {
  width: 100%;
  max-width: 900px;
}