/*
View styles
 */
@import "styles/base/mixins";
@import "styles/base/variables";
@import "~breakpoint-sass/stylesheets/breakpoint";

.download {
  @include flex;
  flex-wrap: wrap;

  &__item {
    width: 20%;

    padding: 0 (16em/16);

    @include breakpoint($mobile) {

      width: 50%;
    }
  }
}